<%= link_to task_path(task) do %>
	<div class="card">
		<div class="task_detail_actions">
			<div class="dropdown">
				<%= image_tag 'Combined Shape.svg', class: 'dropbtn' %>
			</div>
		</div>
		<div class="card_content">
			<div class="card_title">
				<%= task.title %>
			</div>
			<div class="card_text">
				<%= task.content %>
			</div>
			<div class="card_detail">
				<%= image_tag 'Users.png' %>
			</div>
		</div>
	</div>
<% end %>