= link_to task_path(task) do
  .card
    .task_detail_actions
      .dropdown
        = image_tag 'Combined Shape.svg', class: 'dropbtn'
    .card_content
      .card_title
        = task.name
      .card_text
        = task.content
      .card_detail
        = image_tag 'Users.png'
