<!DOCTYPE html>
<html>
  <head>
    <title>Todo2App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
		<header class="header">
			<%= link_to :back do %>
				<p class="header_pageTitle">Boards</p>
			<% end %>
			<% if user_signed_in? %>
			<div class="dropdown">
				<%= image_tag 'Oval.png', class: 'header_avatar dropbtn' %>
				<div class="dropdown-content">
					<a href="#">profile</a>
					<%= link_to 'log out', destroy_user_session_path, data: { method: 'delete' } %>
			<% else %>
					<%= link_to 'log in', new_user_session_path, class: 'header_loginBtn' %>
				</div>
      </div>
			<% end %>
		</header>
		<% if flash.present? %>
			<div class="flash">
				<% flash.each do |key, value| %>
					<div class="<%= key %>"><%= value %></div>
				<% end %>
			</div>
		<% end %>
    <%= yield %>
  </body>
</html>
